
.payment-info {
  background-color: rgba(254, 223, 214, 0.634);
  padding: 10px;
  border-radius: 6px;
  color: #944130;
  font-weight: bold;
}

.product-details {
  padding: 10px;
}

body {
  background: #f8e7d8;
}

.cart {
  background: #ffffff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(165, 87, 87, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(132, 81, 81, 0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #a45549;
  display: inline-block;
  color: #b65741;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

label.radio input:checked + span {
  border-color: #fff;
  background-color: #b16b61;
  color: #fff;
}
.ml-2{
  color:#a45549;
}
.credit-inputs {
  background: rgb(249, 246, 245);
  color: #bb5e45e3 !important;
  border-color: rgb(158, 80, 68);
}

.credit-inputs::placeholder {
  color: #c67063;
  font-size: 13px;
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300;
}

.form-control.credit-inputs:focus {
  background: rgb(253, 238, 234);
  border: rgb(227, 188, 171);
}

.line {
  border-bottom: 1px solid rgb(233, 175, 147);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(148, 76, 76, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(133, 81, 81, 0.08);
}

.spec {
  font-size: 11px;
  
}

.button#checkout{
  color:#944130;
}
.img {
  width: 10%;
  height: auto;
  transition: transform 0.5s ease;
}

.img:hover {
  transform: scale(1.1);
}