   
      
    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
        min-height: 200px;
    }
  
    
    body{
        background-color: #eeb4827f;
    }

.navbar-brand > img {
       
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 60px;
    margin-block-end:40 ;
         }


